<table>
  <tr>
    <th><%=t :lastname, :scope => [:customer, :index] %></th>
    <th><%=t :firstname, :scope => [:customer, :index] %></th>
    <th><%=t :telefon, :scope => [:customer, :index] %></th>
    <th><%=t :email, :scope => [:customer, :index] %></th>
    <th><%=t :amount, :scope => [:customer, :index] %></th>
  </tr>

  <% @customers.each do |customer| %>
    <tr onclick="location.href='<%= customer_path customer %>'"  >
      <td><%= customer.lastname %></td>
      <td><%= customer.name %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.email %></td>
      <td><%= customer.orders.size unless customer.orders.nil? %></td>
    </tr>
  <% end %>
</table>

