<% unless just_address %>
  <p>
    <%= customer.name %>
  </p>

  <p>
    <%= customer.lastname %>
  </p>
<% end %>

<p>
  <%= customer.street %>
</p>

<p>
  <%= customer.city %>
</p>

<p>
  <%= customer.phone %>
</p>

<p>
  <%= customer.email %>
</p>

<% unless just_address %>
  <% if customer.pkunde %>
    <p>ein p-kunde</p>
  <% end %>
<% end %>
