<p>
  <%= customer.name %>
</p>

<p>
  <%= customer.lastname %>
</p>

<p>
  <%= customer.street %>
</p>

<p>
  <%= customer.city %>
</p>

<p>
  <%= customer.phone %>
</p>

<p>
  <%= customer.email %>
</p>

<% if customer.pkunde %>
  <p>ein p-kunde</p>
<% end %>
