
  <%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p> <%= t :contact_details, :scope => [:customer, :new] %> </p>

    <ol>
      <li>
        <%= f.label t(:lastname, :scope => [:customer, :new]) %>
        <%= f.text_field :lastname %>
      </li>
      <li>
        <%= f.label t(:firstname, :scope => [:customer, :new]) %>
        <%= f.text_field :name %>
      </li>
      <li>
      <%= f.label t(:street, :scope => [:customer, :new]) %>
        <%= f.text_field :street %>
      </li>
      <li>
        <%= f.label t(:city, :scope => [:customer, :new]) %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label t(:phone, :scope => [:customer, :new]) %>
        <%= f.text_field :phone %>
      </li>
      <li>
        <%= f.label t(:email, :scope => [:customer, :new]) %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label t(:p_customer, :scope => [:customer, :new]) %>
        <%= f.check_box :pkunde %>
      </li>
      <li id="send">
        <%= f.submit t(:save, :scope => [:customer, :new]), :class => 'button' %>
      </li>
    </ol>
  <% end %>

