
  <%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <p>Kontaktdaten</p>

    <ol>
      <li>
        <%= f.label :Nachname %>
        <%= f.text_field :lastname %>
      </li>
      <li>
        <%= f.label :Vorname %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :Strasse %>
        <%= f.text_field :street %>
      </li>
      <li>
        <%= f.label :Stadt %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label :Telefon %>
        <%= f.text_field :phone %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label :P_Kunde %>
        <%= f.check_box :pkunde %>
      </li>
      <li id="send">
        <%= f.submit "Speichern", :class => 'button' %>
      </li>
    </ol>
  <% end %>

