<div class="sheet">
  <div class="sheet-bgtop">
    <div class="sheet-bgbtm">

      <h1>Kunden:</h1>



      <div id="button">
        <%= button_to 'Neuen Kunden anlegen', new_customer_path %>
      </div>

      <%= render :partial => 'search' %>

      <div id="results">
        <% if @customers.empty? %>
          <p>
            Keine Kunden gefunden. 
          </p>
        <% else %>
          <% if params[:search] %>
            <p>
              Suchergebnisse für: 
              <span id="search"> <%= params[:search] %> </span>
            </p>
          <% else %>
            <% if params[:letter] %>
              <p>
                Anfangsbuchstabe: <span id="search"> <%= params[:letter] %> </span>
              </p>
            <% end %>
          <% end %> 
        <% end %>
      </div>

      <div id = 'customer_table'>
        <%= render :partial => 'customer_table', :locals => {:customers => @customers} %>
        <div id=paginate_customers>
          <%= will_paginate @customers, :page_links => false %> 
        </div>
      </div>
      <script>
        $(document).ready(function() {
          $('.pagination a').attr('data-remote', 'true');
        });
      </script>

      <%= render :partial => 'alphabet' %>
      
    </div>
  </div>
</div>
