<div class="sheet">
  <div class="sheet-bgtop">
    <div class="sheet-bgbtm">

    <h1><%=t :customer, :scope => [:customer, :index] %></h1>

      <%= render :partial => 'search' %>

      <div id="results">
        <% if @customers.empty? %>
          <p>
            <%=t :found_no_customers, :scope => [:customer, :index] %> 
          </p>
        <% else %>
          <% if params[:search] %>
            <p>
              <%=t :search_results, :scope => [:customer, :index] %> 
              <span id="search"> <%= params[:search] %> </span>
            </p>
          <% else %>
            <% if params[:letter] %>
              <p>
                <%=t :first_letter, :scope => [:customer, :index] %> 
                <span id="search"> <%= params[:letter] %> </span>
              </p>
            <% end %>
          <% end %> 
        <% end %>
      </div>

      <div id = 'customer_table'>
        <%= render :partial => 'customer_table', :locals => {:customers => @customers} %>

        <div id="new_customer">
          <%= button_to t(:new_customer, :scope => [:customer, :index]), new_customer_path, :method => :get%>
        </div>
        <div id=paginate_customers>
          <%= will_paginate @customers, :page_links => false %> 
        </div>
      </div>

      <%= render :partial => 'alphabet' %>
      
    </div>
  </div>
</div>
