<div class="sheet">
  <div class="sheet-bgtop">
    <div class="sheet-bgbtm">

      <div id="customer_show">

        <p id="notice"><%= notice %></p>

        <h1><%="#{@customer.name} #{@customer.lastname}:"%></h1>
          
        <div id="address">
          <%= render :partial => 'customer', :locals => {:customer => @customer, :just_address => true} %>
          <%= link_to 'ver채ndern', edit_customer_path(@customer) %> 
        </div>

        <div id="new_order">
          <%@order = Order.new%>
          <ol>
            <%= form_for [@customer, @order] do |f| %>
              <p>Neue Bestellung aufnehmen: </p> </br>
              <li>
                <%=f.label :Artikel %>
                <%= f.text_field :article %>
              </li>
              <li>
                <%=f.label :Bestellnummer %>
                <%= f.text_field :order_number %>
              </li>
              <li>
                <%=f.label :Anzahl %>
                <%= f.text_field :amount %>
              </li>
              <li>
                <%=f.label "K체rzel" %>
                <%= f.text_field :filledin_by %>
              </li>
              <li>
                <%=f.label :Bemerkung %>
                <%= f.text_area :note %>
              </li>
              <li>
                <%=f.label "Grossh채ndler" %>
                <%= f.text_field :deliveryman %>
              </li>
              <li id="send">
                <%= f.submit "Bestellung hinzuf체gen", :class => 'button' %>
              </li>

            <% end %>
          <ol>
        </div>

        <div id="customer_orders">
          <h2>Vorhandene Bestellungen:<h2>  
            <div id = 'orders_table'>
              <table>
                <tr>
                  <th>Artikel</th>
                  <th>Status</th>
                </tr>

                <% @customer.orders.each do |order| %>
                  <tr onclick="location.href='<%= order_path order %>'"  >
                    <td><%= order.article %></td>
                    <td><%= order.status_as_string %></td>
                  </tr>
                <% end %>
            </table>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

