<div class="sheet">
  <div class="sheet-bgtop">
    <div class="sheet-bgbtm">

      <div id="customer_show">

        <p id="notice"><%= notice %></p>

        <h1><%="#{@customer.name} #{@customer.lastname}:"%></h1>
          
        <div id="address">
          <%= render :partial => 'customer', :locals => {:customer => @customer, :just_address => true} %>
          <%= link_to t(:edit, :scope => [:customer, :show]), edit_customer_path(@customer) %> 
        </div>

        <div id="new_order">
          <%@order = Order.new%>
          <ol>
            <%= form_for [@customer, @order] do |f| %>
              <p><%= t(:add_new_order, :scope => [:customer, :show]) %></p> </br>
              <li>
                <%=f.label t(:article, :scope => [:customer, :show]) %>
                <%= f.text_field :article %>
              </li>
              <li>
                <%=f.label t(:number, :scope => [:customer, :show]) %>
                <%= f.text_field :order_number %>
              </li>
              <li>
                <%=f.label t(:amount, :scope => [:customer, :show]) %>
                <%= f.text_field :amount %>
              </li>
              <li>
                <%=f.label t(:sign, :scope => [:customer, :show]) %>
                <%= f.text_field :filledin_by %>
              </li>
              <li>
                <%=f.label t(:note, :scope => [:customer, :show]) %>
                <%= f.text_area :note %>
              </li>
              <li>
                <%=f.label t(:delivery, :scope => [:customer, :show]) %>
                <%= f.text_field :deliveryman %>
              </li>
              <li id="send">
                <%= f.submit t(:add_order, :scope => [:customer, :show]), :class => 'button' %>
              </li>

            <% end %>
          <ol>
        </div>

        <div id="customer_orders">
          <h2><%= t(:customer_orders, :scope => [:customer, :show]) %><h2>  
            <div id = 'orders_table'>
              <table>
                <tr>
                  <th><%= t(:article, :scope => [:customer, :show]) %></th>
                  <th><%= t(:status, :scope => [:customer, :show]) %></th>
                </tr>

                <% @customer.orders.each do |order| %>
                  <tr onclick="location.href='<%= order_path order %>'"  >
                    <td><%= order.article %></td>
                    <td><%= order.status_as_string %></td>
                  </tr>
                <% end %>
            </table>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

