<div class="sheet">
  <div class="sheet-bgtop">
    <div class="sheet-bgbtm">

      <h1>Bestellungen:</h1>

      <div id="search_mask">
        <%= form_tag orders_path, :id => "search_form", :method => 'get' do %>
          <div>
            <%= select_tag(:status,  options_for_select(Order::STATES.collect {|v,i| [v, Order::STATES.index(v)] }, :selected => params[:status]), :onchange => 'document.forms[0].submit()') %>
            <%= text_field_tag :search,  params[:search]%>
            <%= submit_tag "Go", :id => 'searchsubmit', :name => nil %>
          </div>
          <p> (Suchen nach: Artikelname) </p>
        <% end %>
      </div>

      
      <div id="results">
        <% if @orders.empty? %>
          <p>
            Keine Bestellungen gefunden. 
          </p>
        <% else %>
          <p>
            Suchergebnisse für: 
            <span id="search"> <%= params[:search] %> </span>
          </p>
        <% end %> 
      </div>

      <div id = 'customer_table'>

        <table>
          <tr>
            <th>Artikel</th>
            <th>Anzahl</th>
            <th>Grosshaendler</th>
            <th>Status</th>
          </tr>

          <% @orders.each do |order| %>
            <tr onclick="location.href='<%= order_path order %>'" >
              <td><%= order.article %></td>
              <td><%= order.amount %></td>
              <td><%= order.deliveryman %></td>
              <td><%= order.status_as_string %></td>
            </tr>
          <% end %>
        </table>

        <div id=paginate_customers>
          <%= will_paginate @orders %> 
        </div>
      </div>
    </div>
  </div>
</div>




<br />

