<% content_for :categories do %>

  <div class="sheet">
    <div class="sheet-bgtop">
      <div class="sheet-bgbtm">

        <div id="categories_menu">
          <h1>Kategorien</h1>
          <ul id="expList">
            <% Category.roots.each do |category| %>
              <%= render :partial => "category", :locals => { :category => category, :links => false } %>
            <% end %>
          </ul>
        </div>

        <p id="notice"><%= notice %></p>

        <div id="items">
          <h1>Interne Bestellungen</h1>
          <p>
            Kategorien:
            <% @category.self_and_ancestors.each_with_index do |ancester, i| %>
              <% unless i == 0 %>
                ->
              <% end %>
              <%= ancester.name %>  
            <% end %>
          </p>
          <%= render :partial => 'items' %>
        </div>

        <div id="">
          <%=link_to "Neue Bestellung", new_category_internal_path(@category) %>
        </div>

      </div>
    </div>
  </div>

 <% end %>
